
$color_palette1:(
    1: #000814,
    2: #001D3D,
    3: #034d92,
    4: #FFC300,
    5: #FFD60A
);

$color_green:(
    1: #D8F3DC,
    2: #B7E4C7,
    3: #95D5B2,
    4: #74C69D,
    5: #52B788,
    6: #40916C,
    7: #2D6A4F,
    8: #1B4332,
    9: #081C15,
);
$color_palette2: (
    1: #86E7B8,
    2: #93FF96,
    3: #B2FFA8,
    4: #D0FFB7,
    5: #F2F5DE

);

$turquoise_1: (
    1: #99E2B4,
    2: #88D4AB,
    3: #78C6A3,
    4: #67B99A,
    5: #56AB91,
    6: #469D89,
    7: #358F80,
    8: #248277,
    9: #14746F,
    10: #036666
);

$whites:(
    0: #ffffff,
    1: #f7fff7,
    2: #fdfffc,
    3: #e9ecef,
    4: #fffcf2,
    5: #f6fff8
);
$greys:(
    1: #b3bdbc,
    2: #cfdbd5
);